[submodule "pmg-gui"]
	path = pmg-gui
	url = git://git.proxmox.com/git/pmg-gui/

[submodule "proxmox-widget-toolkit"]
	path = proxmox-widget-toolkit
	url = git://git.proxmox.com/git/proxmox-widget-toolkit/

[submodule "pve-manager"]
	path = pve-manager
	url = git://git.proxmox.com/git/pve-manager/

[submodule "proxmox-backup"]
	path = proxmox-backup
	url = git://git.proxmox.com/git/proxmox-backup
